saved_models/
results/
logs/
*.png
runs/
eval_wavs/
outputs/
*.wav
sbatch_printout/
submit_job.script
good_models/
*.pyc
srcs/__pycache__/
srcs/bigRedScript.txt
srcs/sample_from_valid_data.py
srcs/sample_unet2d
*.npy
*.jpg
srcs/.ipynb_checkpoints/
srcs/Plots.ipynb
srcs/bar_plot.py
srcs/dataset_for_global_feature.py
srcs/losses/discrete_diff.py
srcs/model_discrete.py
srcs/modules/transformer_discrete.py
srcs/output_filename.pdf
srcs/run_pesq.py
srcs/scripts_for_visqol.txt
srcs/train_dac_discrete.py
srcs/train_for_global_features.py
*.pdf
**/__pycache__/
