runs/
saved_models/
logs/
eval_wavs/
output_wavs/
srcs/run_pesq.py
srcs/sample_extractor.py
srcs/sample_from_valid_data.py
srcs/scripts_for_visqol.txt
srcs/train_dac_discrete.py
srcs/output_filename.pdf
srcs/model_discrete.py
srcs/losses/discrete_diff.py
srcs/.ipynb_checkpoints/
srcs/Plots.ipynb
srcs/__pycache__/
srcs/bar_plot.py
srcs/*/__pycache__/
srcs/bigRedScript.txt
srcs/modules/transformer_discrete.py
srcs/scripts.txt
srcs/**/__pycache__/
